<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hello, <%= @full_name.split(" ").first %></h1>
    <p>Thank you for registration!</p>
    <p>Your default password is "<%= @password %>"</p>
    <p>We recommend you login to website and change the default password.</p>
  </body>
</html>