<% navigation_add '你好', "/" %>

<section class="jumbotron text-center">
  <div class="container">
    <h1>Hello, 你好</h1>
    <p class="lead text-muted">Greeting!</p>
    <p>
      <a href="/register/signup" class="btn btn-primary my-2">註冊帳號</a>
      <a href="/login" class="btn btn-default my-2">登入用戶</a>
    </p>
  </div>
</section>