<% navigation_add 'Welcome', "/" %>

<section class="jumbotron text-center">
  <div class="container">
    <h1>Hello, world!</h1>
    <p class="lead text-muted">Greeting!</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main action</a>
      <a href="#" class="btn btn-default my-2">Secondary</a>
    </p>
  </div>
</section>