<!----------- Footer ------------>
<footer class="footer-bs">
    <div class="row">
    	<div class="col-md-3 footer-brand animated fadeInLeft">
        	<h2>Winner Stock</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium ante erat, vitae sodales mi varius quis. Etiam vestibulum lorem vel urna tempor, eu fermentum odio aliquam. Aliquam consequat urna vitae ipsum pulvinar, in blandit purus eleifend.</p>
            <p>Copyright © 2020 Winner Stock. All rights reserved</p>
        </div>
    	<div class="col-md-4 footer-nav animated fadeInUp">
        	<h4>Menu —</h4>
        	<div class="col-md-6">
                <ul class="pages">
                    <li><a href="#">Invited Only</a></li>
                    <li><a href="#">Stock Investment</a></li>
                    <li><a href="#">Market Insight</a></li>
                    <li><a href="#">Make Profit</a></li>
                </ul>
            </div>
        	<div class="col-md-6">
                <ul class="list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    	<div class="col-md-2 footer-social animated fadeInDown">
        	<h4>Follow Us</h4>
        	<ul>
            	<li><a href="#">Facebook</a></li>
            	<li><a href="#">Twitter</a></li>
            	<li><a href="#">Instagram</a></li>
            </ul>
        </div>
    	<div class="col-md-3 footer-ns animated fadeInRight">
        	<h4>Newsletter</h4>
            <p>Don’t miss any updates of our new templates and extensions!</p>
            <p>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Subscribe...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                  </span>
                </div><!-- /input-group -->
             </p>
        </div>
    </div>
</footer>